app.namespace=https://jpa03-omarbuzdar.herokuapp.com
app.admin.emails=omarbuzdar@ucsb.edu

auth0.domain=ucsb-cs156-omarbuzdar.us.auth0.com
auth0.clientId=otOOAO9ACxceCLdXWChP3Zx7vfBYC4aI

security.oauth2.resource.id=https://jpa03-omarbuzdar.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.driver-class-name = org.postgresql.Driver
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false

spring.datasource.url=${JDBC_DATABASE_URL}
spring.datasource.username=${JDBC_DATABASE_USERNAME}
spring.datasource.password=${JDBC_DATABASE_PASSWORD}
spring.jpa.hibernate.ddl-auto=update
